### Read the data set

In [38]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
#read the data set

df = pd.read_csv('Dataset/Airbnb_Data.csv')

#display the first 5 rows of the data set
print(df.head())

#display the last 5 rows of the data set
print(df.tail())

#display the shape of the data set
print(df.shape)

#display the columns of the data set
print(df.columns)

#display the data types of the columns
print(df.dtypes)

#display the info of the data set
print(df.info())

#display the summary statistics of the data set
print(df.describe())

         id  log_price property_type        room_type  \
0   6901257   5.010635     Apartment  Entire home/apt
1   6304928   5.129899     Apartment  Entire home/apt
2   7919400   4.976734     Apartment  Entire home/apt
3  13418779   6.620073         House  Entire home/apt
4   3808709   4.744932     Apartment  Entire home/apt

                                           amenities  accommodates  bathrooms  \
0  {"Wireless Internet","Air conditioning",Kitche...             3        1.0
1  {"Wireless Internet","Air conditioning",Kitche...             7        1.0
2  {TV,"Cable TV","Wireless Internet","Air condit...             5        1.0
3  {TV,"Cable TV",Internet,"Wireless Internet",Ki...             4        1.0
4  {TV,Internet,"Wireless Internet","Air conditio...             2        1.0

   bed_type cancellation_policy  cleaning_fee  ...   latitude   longitude  \
0  Real Bed              strict          True  ...  40.696524  -73.991617
1  Real Bed              strict          True  ...  40.766115  -73.989040
2  Real Bed            moderate          True  ...  40.808110  -73.943756
3  Real Bed            flexible          True  ...  37.772004 -122.431619
4  Real Bed            moderate          True  ...  38.925627  -77.034596

                                       name     neighbourhood  \
0            Beautiful brownstone 1-bedroom  Brooklyn Heights
1  Superb 3BR Apt Located Near Times Square    Hell's Kitchen
2                          The Garden Oasis            Harlem
3        Beautiful Flat in the Heart of SF!      Lower Haight
4                Great studio in midtown DC  Columbia Heights

  number_of_reviews review_scores_rating  \
0                 2                100.0
1                 6                 93.0
2                10                 92.0
3                 0                  NaN
4                 4                 40.0

                                       thumbnail_url  zipcode bedrooms  beds
0  https://a0.muscache.com/im/pictures/6d7cbbf7-c...    11201      1.0   1.0
1  https://a0.muscache.com/im/pictures/348a55fe-4...    10019      3.0   3.0
2  https://a0.muscache.com/im/pictures/6fae5362-9...    10027      1.0   3.0
3  https://a0.muscache.com/im/pictures/72208dad-9...  94117.0      2.0   2.0
4                                                NaN    20009      0.0   1.0

[5 rows x 29 columns]
             id  log_price property_type        room_type  \
74106  14549287   4.605170     Apartment     Private room
74107  13281809   5.043425     Apartment  Entire home/apt
74108  18688039   5.220356     Apartment  Entire home/apt
74109  17045948   5.273000     Apartment  Entire home/apt
74110   3534845   4.852030          Boat  Entire home/apt

                                               amenities  accommodates  \
74106                                                 {}             1
74107  {TV,"Cable TV",Internet,"Wireless Internet",Ki...             4
74108  {TV,Internet,"Wireless Internet","Air conditio...             5
74109  {TV,"Wireless Internet","Air conditioning",Kit...             2
74110  {TV,Internet,"Wireless Internet",Kitchen,"Free...             4

       bathrooms  bed_type cancellation_policy  cleaning_fee  ...   latitude  \
74106        1.0  Real Bed            flexible         False  ...  40.709025
74107        2.0  Real Bed            moderate          True  ...  33.871549
74108        1.0  Real Bed            moderate          True  ...  40.706749
74109        1.0  Real Bed              strict          True  ...  40.738535
74110        1.0  Real Bed            moderate         False  ...  33.761096

        longitude                                        name  neighbourhood  \
74106  -73.939405                           one room bushwick   Williamsburg
74107 -118.396053                Spacious Hermosa 2 BR on PCH  Hermosa Beach
74108  -73.942377  Modern 2 Bedroom Apartment in Williamsburg   Williamsburg
74109  -74.000157        Designer's Apartment in HEART of NYC   West Village
74110 -118.192409              Cozy Boat at Shoreline Village     Long Beach

      number_of_reviews review_scores_rating  \
74106                 0                  NaN
74107                16                 93.0
74108                43                 94.0
74109                 0                  NaN
74110               205                 96.0

                                           thumbnail_url  zipcode bedrooms  \
74106  https://a0.muscache.com/im/pictures/55162426/6...  11206.0      1.0
74107  https://a0.muscache.com/im/pictures/2b86560b-a...    90254      2.0
74108  https://a0.muscache.com/im/pictures/7fbe448c-5...  11206.0      2.0
74109  https://a0.muscache.com/im/pictures/b3971b63-0...    10011      0.0
74110  https://a0.muscache.com/im/pictures/22968537/d...    90802      1.0

       beds
74106   1.0
74107   4.0
74108   2.0
74109   2.0
74110   2.0

[5 rows x 29 columns]
(74111, 29)
Index(['id', 'log_price', 'property_type', 'room_type', 'amenities',
       'accommodates', 'bathrooms', 'bed_type', 'cancellation_policy',
       'cleaning_fee', 'city', 'description', 'first_review',
       'host_has_profile_pic', 'host_identity_verified', 'host_response_rate',
       'host_since', 'instant_bookable', 'last_review', 'latitude',
       'longitude', 'name', 'neighbourhood', 'number_of_reviews',
       'review_scores_rating', 'thumbnail_url', 'zipcode', 'bedrooms', 'beds'],
      dtype='object')
id                          int64
log_price                 float64
property_type              object
room_type                  object
amenities                  object
accommodates                int64
bathrooms                 float64
bed_type                   object
cancellation_policy        object
cleaning_fee                 bool
city                       object
description                object
first_review               object
host_has_profile_pic       object
host_identity_verified     object
host_response_rate         object
host_since                 object
instant_bookable           object
last_review                object
latitude                  float64
longitude                 float64
name                       object
neighbourhood              object
number_of_reviews           int64
review_scores_rating      float64
thumbnail_url              object
zipcode                    object
bedrooms                  float64
beds                      float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      74111 non-null  int64
 1   log_price               74111 non-null  float64
 2   property_type           74111 non-null  object
 3   room_type               74111 non-null  object
 4   amenities               74111 non-null  object
 5   accommodates            74111 non-null  int64
 6   bathrooms               73911 non-null  float64
 7   bed_type                74111 non-null  object
 8   cancellation_policy     74111 non-null  object
 9   cleaning_fee            74111 non-null  bool
 10  city                    74111 non-null  object
 11  description             74111 non-null  object
 12  first_review            58247 non-null  object
 13  host_has_profile_pic    73923 non-null  object
 14  host_identity_verified  73923 non-null  object
 15  host_response_rate      55812 non-null  object
 16  host_since              73923 non-null  object
 17  instant_bookable        74111 non-null  object
 18  last_review             58284 non-null  object
 19  latitude                74111 non-null  float64
 20  longitude               74111 non-null  float64
 21  name                    74111 non-null  object
 22  neighbourhood           67239 non-null  object
 23  number_of_reviews       74111 non-null  int64
 24  review_scores_rating    57389 non-null  float64
 25  thumbnail_url           65895 non-null  object
 26  zipcode                 73145 non-null  object
 27  bedrooms                74020 non-null  float64
 28  beds                    73980 non-null  float64
dtypes: bool(1), float64(7), int64(3), object(18)
memory usage: 15.9+ MB
None
                 id     log_price  accommodates     bathrooms      latitude  \
count  7.411100e+04  74111.000000  74111.000000  73911.000000  74111.000000
mean   1.126662e+07      4.782069      3.155146      1.235263     38.445958
std    6.081735e+06      0.717394      2.153589      0.582044      3.080167
min    3.440000e+02      0.000000      1.000000      0.000000     33.338905
25%    6.261964e+06      4.317488      2.000000      1.000000     34.127908
50%    1.225415e+07      4.709530      2.000000      1.000000     40.662138
75%    1.640226e+07      5.220356      4.000000      1.000000     40.746096
max    2.123090e+07      7.600402     16.000000      8.000000     42.390437

          longitude  number_of_reviews  review_scores_rating      bedrooms  \
count  74111.000000       74111.000000          57389.000000  74020.000000
mean     -92.397525          20.900568             94.067365      1.265793
std       21.705322          37.828641              7.836556      0.852143
min     -122.511500           0.000000             20.000000      0.000000
25%     -118.342374           1.000000             92.000000      1.000000
50%      -76.996965           6.000000             96.000000      1.000000
75%      -73.954660          23.000000            100.000000      1.000000
max      -70.985047         605.000000            100.000000     10.000000

               beds
count  73980.000000
mean       1.710868
std        1.254142
min        0.000000
25%        1.000000
50%        1.000000
75%        2.000000
max       18.000000

In [40]:
# for each row, we need to put the ammenities in a list 

df['amenities'] = df['amenities'].apply(lambda x: x.replace('{','').replace('}','').replace('"','').split(','))

#display the first 5 rows of the data set
print(df.head())

         id  log_price property_type        room_type  \
0   6901257   5.010635     Apartment  Entire home/apt
1   6304928   5.129899     Apartment  Entire home/apt
2   7919400   4.976734     Apartment  Entire home/apt
3  13418779   6.620073         House  Entire home/apt
4   3808709   4.744932     Apartment  Entire home/apt

                                           amenities  accommodates  bathrooms  \
0  [Wireless Internet, Air conditioning, Kitchen,...             3        1.0
1  [Wireless Internet, Air conditioning, Kitchen,...             7        1.0
2  [TV, Cable TV, Wireless Internet, Air conditio...             5        1.0
3  [TV, Cable TV, Internet, Wireless Internet, Ki...             4        1.0
4  [TV, Internet, Wireless Internet, Air conditio...             2        1.0

   bed_type cancellation_policy  cleaning_fee  ...   latitude   longitude  \
0  Real Bed              strict          True  ...  40.696524  -73.991617
1  Real Bed              strict          True  ...  40.766115  -73.989040
2  Real Bed            moderate          True  ...  40.808110  -73.943756
3  Real Bed            flexible          True  ...  37.772004 -122.431619
4  Real Bed            moderate          True  ...  38.925627  -77.034596

                                       name     neighbourhood  \
0            Beautiful brownstone 1-bedroom  Brooklyn Heights
1  Superb 3BR Apt Located Near Times Square    Hell's Kitchen
2                          The Garden Oasis            Harlem
3        Beautiful Flat in the Heart of SF!      Lower Haight
4                Great studio in midtown DC  Columbia Heights

  number_of_reviews review_scores_rating  \
0                 2                100.0
1                 6                 93.0
2                10                 92.0
3                 0                  NaN
4                 4                 40.0

                                       thumbnail_url  zipcode bedrooms  beds
0  https://a0.muscache.com/im/pictures/6d7cbbf7-c...    11201      1.0   1.0
1  https://a0.muscache.com/im/pictures/348a55fe-4...    10019      3.0   3.0
2  https://a0.muscache.com/im/pictures/6fae5362-9...    10027      1.0   3.0
3  https://a0.muscache.com/im/pictures/72208dad-9...  94117.0      2.0   2.0
4                                                NaN    20009      0.0   1.0

[5 rows x 29 columns]

In [41]:
#replace the log price column with the price column

df['log_price'] = df['log_price'].apply(lambda x: np.exp(x))

#rename the log price column to price

df.rename(columns={'log_price':'price'}, inplace=True)

#display the first 5 rows of the data set
print(df.head())

         id  price property_type        room_type  \
0   6901257  150.0     Apartment  Entire home/apt
1   6304928  169.0     Apartment  Entire home/apt
2   7919400  145.0     Apartment  Entire home/apt
3  13418779  750.0         House  Entire home/apt
4   3808709  115.0     Apartment  Entire home/apt

                                           amenities  accommodates  bathrooms  \
0  [Wireless Internet, Air conditioning, Kitchen,...             3        1.0
1  [Wireless Internet, Air conditioning, Kitchen,...             7        1.0
2  [TV, Cable TV, Wireless Internet, Air conditio...             5        1.0
3  [TV, Cable TV, Internet, Wireless Internet, Ki...             4        1.0
4  [TV, Internet, Wireless Internet, Air conditio...             2        1.0

   bed_type cancellation_policy  cleaning_fee  ...   latitude   longitude  \
0  Real Bed              strict          True  ...  40.696524  -73.991617
1  Real Bed              strict          True  ...  40.766115  -73.989040
2  Real Bed            moderate          True  ...  40.808110  -73.943756
3  Real Bed            flexible          True  ...  37.772004 -122.431619
4  Real Bed            moderate          True  ...  38.925627  -77.034596

                                       name     neighbourhood  \
0            Beautiful brownstone 1-bedroom  Brooklyn Heights
1  Superb 3BR Apt Located Near Times Square    Hell's Kitchen
2                          The Garden Oasis            Harlem
3        Beautiful Flat in the Heart of SF!      Lower Haight
4                Great studio in midtown DC  Columbia Heights

  number_of_reviews review_scores_rating  \
0                 2                100.0
1                 6                 93.0
2                10                 92.0
3                 0                  NaN
4                 4                 40.0

                                       thumbnail_url  zipcode bedrooms  beds
0  https://a0.muscache.com/im/pictures/6d7cbbf7-c...    11201      1.0   1.0
1  https://a0.muscache.com/im/pictures/348a55fe-4...    10019      3.0   3.0
2  https://a0.muscache.com/im/pictures/6fae5362-9...    10027      1.0   3.0
3  https://a0.muscache.com/im/pictures/72208dad-9...  94117.0      2.0   2.0
4                                                NaN    20009      0.0   1.0

[5 rows x 29 columns]

In [42]:
# get a set of all unique amenities
amenities = set()
for index, row in df.iterrows():
    for amenity in row['amenities']:
        amenities.add(amenity)

#display the unique amenities
print(amenities)

{'', 'Doorman Entry', 'Keypad', 'Dryer', 'translation missing: en.hosting_amenity_49', 'Wide hallway clearance', 'Private entrance', 'Wide entryway', 'Pets allowed', 'Hair dryer', 'Crib', 'Toilet paper', 'Stove', 'Bathtub with shower chair', 'Table corner guards', 'Luggage dropoff allowed', 'Firm matress', 'Dishes and silverware', 'Children’s books and toys', 'Essentials', 'Free parking on premises', 'Safety card', 'Doorman', '24-hour check-in', 'BBQ grill', 'Laptop friendly workspace', 'Ground floor access', 'Beachfront', 'Oven', 'Pets live on this property', 'Smoke detector', 'Carbon monoxide detector', 'Lake access', 'Microwave', 'Window guards', 'Wide clearance to shower and toilet', 'Internet', 'Smart lock', 'Wide doorway', 'High chair', 'Pack ’n Play/travel crib', 'Lock on bedroom door', 'Accessible-height bed', 'Indoor fireplace', 'Bed linens', 'Cable TV', 'Fireplace guards', 'Flat smooth pathway to front door', 'Room-darkening shades', 'Air conditioning', 'Wide clearance to bed', 'Host greets you', 'Disabled parking spot', 'Suitable for events', ' smooth pathway to front door', 'TV', 'Pool', 'Wireless Internet', 'Pocket wifi', 'Hand or paper towel', 'Bathtub', 'Wheelchair accessible', 'Gym', 'Iron', 'Bath towel', 'Handheld shower head', 'Waterfront', 'Elevator', 'Ethernet connection', 'Ski in/Ski out', 'Flat', 'Body soap', 'Patio or balcony', 'First aid kit', 'Beach essentials', 'Free parking on street', 'Fixed grab bars for shower & toilet', 'Elevator in building', 'Accessible-height toilet', 'Dishwasher', 'Dog(s)', 'Outlet covers', 'Refrigerator', 'Hot tub', 'Self Check-In', 'Changing table', 'Kitchen', 'translation missing: en.hosting_amenity_50', 'Garden or backyard', 'Air purifier', 'Cooking basics', 'Grab-rails for shower and toilet', 'Breakfast', 'Game console', 'Washer / Dryer', 'Firm mattress', 'Other pet(s)', 'Heating', 'Lockbox', 'Hand soap', 'Baby bath', 'Private living room', 'Hangers', 'Paid parking off premises', 'Stair gates', 'Private bathroom', 'Baby monitor', 'Wide clearance to shower & toilet', 'Roll-in shower with chair', 'EV charger', 'Hot water kettle', 'Other', 'Smartlock', 'Babysitter recommendations', 'Single level home', 'Path to entrance lit at night', 'Fire extinguisher', 'Step-free access', 'Family/kid friendly', 'Hot water', 'Extra pillows and blankets', 'Buzzer/wireless intercom', 'Smoking allowed', 'Cleaning before checkout', 'Washer', 'Coffee maker', 'Shampoo', 'Cat(s)', 'Children’s dinnerware', 'Long term stays allowed', 'Well-lit path to entrance'}

In [43]:
amenities.remove('')
print(len(amenities), 'amenities length')

130 amenities length

In [44]:
#get unique intger value of the prices in the data set

prices = set()
for index, row in df.iterrows():
    prices.add(int(row['price']))

#display the unique prices
# 6901257  150.0     Apartment  Entire home/apt   
# 1   6304928  169.0     Apartment  Entire home/apt   
# 2   7919400  145.0     Apartment  Entire home/apt   
# 3  13418779  750.0         House  Entire home/apt   
# 4   3808709  115.0     Apartment  Entire home/apt

In [45]:
print(prices)

#get the number of unique prices
print(len(prices), 'prices length')

{1, 5, 10, 11, 12, 13, 14, 15, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 34, 36, 37, 38, 39, 41, 42, 44, 45, 46, 48, 50, 51, 52, 53, 54, 55, 56, 57, 59, 61, 62, 64, 65, 67, 68, 69, 70, 71, 72, 74, 76, 78, 79, 81, 82, 83, 85, 87, 88, 89, 90, 92, 94, 95, 97, 98, 100, 101, 102, 103, 104, 105, 106, 108, 109, 110, 111, 113, 114, 115, 117, 118, 119, 121, 122, 124, 125, 126, 127, 128, 129, 130, 132, 133, 135, 136, 137, 138, 139, 141, 142, 144, 146, 147, 149, 150, 151, 152, 154, 155, 156, 157, 158, 159, 160, 161, 163, 164, 166, 167, 169, 171, 172, 173, 175, 177, 179, 181, 182, 184, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 197, 198, 199, 201, 202, 203, 205, 206, 207, 209, 211, 213, 214, 216, 217, 219, 220, 221, 223, 224, 225, 227, 228, 229, 230, 231, 232, 234, 235, 236, 237, 239, 241, 242, 244, 245, 247, 248, 249, 251, 252, 253, 254, 255, 257, 258, 260, 262, 263, 264, 266, 267, 268, 270, 271, 272, 273, 274, 275, 277, 278, 279, 280, 281, 282, 284, 285, 286, 288, 289, 291, 292, 293, 295, 297, 298, 299, 300, 302, 303, 304, 305, 306, 307, 309, 310, 312, 313, 314, 316, 318, 320, 321, 322, 323, 324, 325, 327, 329, 330, 331, 333, 334, 335, 337, 338, 339, 341, 342, 343, 345, 346, 347, 348, 349, 350, 352, 353, 355, 356, 357, 358, 360, 362, 363, 365, 366, 367, 368, 369, 370, 371, 373, 375, 376, 377, 378, 379, 380, 381, 382, 384, 385, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 400, 402, 404, 405, 406, 407, 409, 410, 412, 413, 414, 417, 418, 420, 422, 424, 425, 426, 429, 432, 434, 435, 436, 438, 439, 441, 443, 444, 445, 447, 448, 449, 450, 451, 452, 454, 457, 459, 460, 461, 464, 466, 467, 468, 470, 471, 472, 474, 475, 477, 478, 480, 481, 484, 486, 488, 489, 490, 491, 493, 494, 495, 496, 497, 498, 499, 500, 501, 504, 505, 506, 507, 508, 509, 511, 512, 514, 515, 516, 517, 518, 519, 522, 524, 525, 527, 528, 530, 531, 534, 536, 538, 540, 541, 542, 543, 545, 547, 548, 549, 551, 554, 557, 558, 559, 560, 564, 565, 567, 568, 569, 570, 571, 575, 577, 579, 580, 581, 585, 588, 589, 591, 593, 595, 596, 597, 598, 600, 603, 610, 615, 617, 619, 624, 629, 630, 636, 640, 645, 648, 649, 650, 655, 656, 660, 661, 670, 672, 675, 679, 680, 681, 683, 685, 689, 691, 694, 695, 698, 699, 708, 710, 713, 715, 720, 725, 728, 734, 738, 739, 743, 745, 748, 749, 760, 762, 765, 766, 769, 773, 775, 776, 780, 782, 784, 787, 790, 795, 797, 799, 800, 814, 818, 819, 824, 825, 829, 832, 834, 837, 839, 840, 843, 845, 847, 849, 850, 851, 854, 858, 859, 861, 863, 864, 866, 869, 872, 874, 876, 877, 880, 882, 889, 890, 892, 895, 898, 900, 903, 910, 912, 914, 922, 924, 927, 928, 935, 940, 945, 949, 950, 965, 969, 970, 974, 975, 976, 979, 983, 984, 987, 989, 990, 993, 995, 996, 998, 999, 1000, 1001, 1010, 1015, 1019, 1025, 1039, 1049, 1057, 1074, 1080, 1089, 1094, 1095, 1098, 1100, 1111, 1119, 1125, 1126, 1149, 1168, 1176, 1179, 1190, 1194, 1200, 1222, 1223, 1224, 1239, 1249, 1270, 1273, 1274, 1285, 1294, 1299, 1300, 1348, 1350, 1367, 1370, 1394, 1399, 1427, 1447, 1450, 1460, 1494, 1497, 1499, 1550, 1569, 1595, 1599, 1609, 1635, 1649, 1664, 1666, 1675, 1700, 1705, 1707, 1730, 1732, 1749, 1794, 1798, 1800, 1820, 1849, 1875, 1888, 1895, 1900, 1938, 1950, 1975, 1980, 1989, 1995, 1998}
640 prices length

In [46]:
#we have 640 unique prices, with minimum price of 1 USD and maximum price of 2000USD
#we can categorize the prices into 13 categories
#0-50, 51-100, 101-150, 151-200, 201-250, 251-300, 301-350, 351-400, 401-450, 451-500, 501-550, 551-600, 601-650
#650-700, 701-750, 751-800, 801-850, 851-900, 901-950, 951-1000, 1001-1050, 1051-1100, 1101-1150, 1151-1200, 1201-1250
#1251-1300, 1301-1350, 1351-1400, 1401-1450, 1451-1500, 1501-1550, 1551-1600, 1601-1650, 1651-1700, 1701-1750, 1751-1800
#1801-1850, 1851-1900, 1901-1950, 1951-2000

stringo = '''0-50, 51-100, 101-150, 151-200, 201-250, 251-300, 301-350, 351-400, 401-450, 451-500, 501-550, 551-600, 601-650, 650-700, 701-750, 751-800, 801-850, 851-900, 901-950, 951-1000, 1001-1050, 1051-1100, 1101-1150, 1151-1200, 1201-1250, 1251-1300, 1301-1350, 1351-1400, 1401-1450, 1451-1500, 1501-1550, 1551-1600, 1601-1650, 1651-1700, 1701-1750, 1751-1800, 1801-1850, 1851-1900, 1901-1950, 1951-2000'''

prices = stringo.split(',')
print(len(prices), 'prices length')
print(prices)

40 prices length
['0-50', ' 51-100', ' 101-150', ' 151-200', ' 201-250', ' 251-300', ' 301-350', ' 351-400', ' 401-450', ' 451-500', ' 501-550', ' 551-600', ' 601-650', ' 650-700', ' 701-750', ' 751-800', ' 801-850', ' 851-900', ' 901-950', ' 951-1000', ' 1001-1050', ' 1051-1100', ' 1101-1150', ' 1151-1200', ' 1201-1250', ' 1251-1300', ' 1301-1350', ' 1351-1400', ' 1401-1450', ' 1451-1500', ' 1501-1550', ' 1551-1600', ' 1601-1650', ' 1651-1700', ' 1701-1750', ' 1751-1800', ' 1801-1850', ' 1851-1900', ' 1901-1950', ' 1951-2000']

In [47]:
#change the prices to integers where the first value is the lower bound and the second value is the upper bound of the 40 categories
prices = [(int(price.split('-')[0]), int(price.split('-')[1])) for price in prices]
print(prices)

[(0, 50), (51, 100), (101, 150), (151, 200), (201, 250), (251, 300), (301, 350), (351, 400), (401, 450), (451, 500), (501, 550), (551, 600), (601, 650), (650, 700), (701, 750), (751, 800), (801, 850), (851, 900), (901, 950), (951, 1000), (1001, 1050), (1051, 1100), (1101, 1150), (1151, 1200), (1201, 1250), (1251, 1300), (1301, 1350), (1351, 1400), (1401, 1450), (1451, 1500), (1501, 1550), (1551, 1600), (1601, 1650), (1651, 1700), (1701, 1750), (1751, 1800), (1801, 1850), (1851, 1900), (1901, 1950), (1951, 2000)]

IndexError: list index out of range

In [50]:
#add a new column to the data set called price_category
#the price category will be the category of the price of the listing

df['price_category'] = df['price'].apply(lambda x: [i for i in range(len(prices)) if prices[i][0] <= x <= prices[i][1]])


print(df['price_category'])

KeyboardInterrupt: